<<<<<<< HEAD
<h1>SimplePages#contact</h1>
<p>Find me in app/views/simple_pages/contact.html.erb</p>
=======
<h1>Contact#contact</h1>
  <p>Swing by for a cup of coffee, or leave us a message:</p>
>>>>>>> 85d50d100cd5cfb59253b92e80901a80a0b2ab15
