<h2>Featured Product:</h2>
<% if @featured_products %>

 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

 <ol class="carousel-indicators">
<% @featured_products.each_with_index do |product, index| %>
  
    <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
  
<% end %>
</ol>

 <div class="carousel-inner">
 <% @featured_products.each do |product| %>
  
  <%= render partial: "product", locals: {product: product} %>
 

  <% end %>  
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
  </a>
</div>  
<% end %>

